body{
    margin-bottom: 60px;
    background-color: #FFEBE5;
}

ntc{
    color: #EAEAEA;
}
nav{
    margin-left: 3px;
    margin-right: 3px;
}
.flex-container{
    background-color: #FAFAFA;
    margin-left: 5%;
    margin-right: 5%;
    color:000000;
}
footer{
    background-color: #A84E4F;
}